<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./formation.css">
    <title>Team Formation</title>
</head>
<body class="bg-dark ">
    <h2 class="p-sm-4 title text-bg-dark">List of Team Formation</h2>
    <hr class="text-bg-dark">
    <div class="container d-flex">
        <div class="text-bg-dark border border-2 rounded-3 p-5" >
            <legend class="pt-3 px-5 pb-3  lead">AADHITHYA.V</legend>
            <p class="pt-2 px-5 pb-2  select">adsfaffafafaaaaff</p>
            <p>adsfaffafafaaaaff</p>
            <p>adsfaffafafaaaaff</p>
            <p>adsfaffafafaaaaff</p>
            <p>adsfaffafafaaaaff</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8a0719660.js" crossorigin="anonymous"></script>
</body>
</html>