<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Production</title>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center">
        <a  class="a" href="http://www.tpt.edu.in" target="_blank"><h1 class="title">Thiagarajar Polytechnic College</h1></a>
        <a  class="a" href="./Team_Formation.pdf"><h4 class="title">Team  Formation</h4></a>
    </div>
    <hr>
    <div class="container-sm con rounded text-sm-center">
        <a  href="./iv">
            <div  class="btn d-flex  bt rounded align-items-sm-baseline btn-primary">
            <i class="fa-solid fa-bus  gapp"></i>
            <p>To fill the Industrial Visit Form</p>
            <i class="fa-solid fa-arrow-right gapp"></i>
        </div></a>
        <a href="./team">
            <div  class="my-5 btn d-flex btn-primary bt rounded align-items-sm-baseline ">
            <i class="fa-solid fa-people-group gapp"></i>
            <p>To Select the Teammates </p>
            <i class="fa-solid fa-arrow-right gapp"></i>
        </div></a>
    </div>
    <script>
        function team(){
           return alert('Team is not yet Ready to Download!')
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8a0719660.js" crossorigin="anonymous"></script>
</body>
</html>
