@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Montserrat&family=Poppins:wght@200;300;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0 auto;
}


body{
    height: max-content;
    background-image: linear-gradient(130deg,#04f7ec,#06458c);
    background-repeat: no-repeat;
    color: black;
}



.title{
    padding: 20px 0px 0 30px;
    margin: 0 auto;
    font-weight: bold;
    transition: all 1s ease-in-out;
    
    
}

.a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title:hover{
    
    color: #303131;
    transition: all 1s ease-in-out;
}

.con > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.con{
    padding: 110px 0 110px 0;
}
.bt > p{
    font-weight: 600;
    font-size: larger;
    line-height: 1.2em;
    width: 30%;
    margin: 0;
    padding: 10px 0;
    
}


.bt{
    border: 5px solid rgb(153, 153, 153);
    margin-top: 50px;
    
}

.gapp{
    /* padding-top: 5px; */
    height: auto;
    font-weight:bolder;
    font-size: larger;
}

@media only screen and (max-width:540px) {
    .title{
        padding: 3px 0px 8px 20px;
        margin: 10px 0;
        font-size:large;
        font-weight: 700;
    }
    .a{
        margin: 0;
    }
    .bt{
        margin-top: 10px;
    }
    .gapp{
        margin-top: 10px;
    }

    .bt > p{
        font-size: medium;
        font-weight: normal;
        line-height: 1.2em;
        width: 30%;
        margin: 0;
        padding: 0 ;
    }
}